body {
	margin: 0;
	padding: 0;

	min-width: 940px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	color: #ffffff;
	background-color: #87a092;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-wrapper {
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: center 84px;

	transition: background-image 0.5s ease, background-color 0.5s ease;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover, 
a:focus {
	color: #e84d37;
}

.container {
	width: 1147px;
	margin: 0 auto;
	padding: 0 26px;
}

.main-header .container {
	flex-direction: column;
}

.main-navigation {
	display: flex;
}

.main-header .wrapper-add-information {
	width: 170px;
	margin-left: auto;
}

.site-navigation a {
	padding: 9px 15px;
	border-radius: 50px;
}

.underline-wrapper {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.site-navigation a:hover .underline-wrapper {
	border: none;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around; 
	align-items: center;
	width: 406px;
	font-size: 16px;
	line-height: 18px;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #ffffff;
	color: #333333;
}

.site-navigation a:active {
	box-shadow: inset 0 2px 1px #696969;
}

.site-navigation .link-active {
	background-color: #d07058;
}

.link-active .underline-wrapper {
	border: none;
}

.modal-catalog-list {
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4) 
}

.modal-catalog-item a {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.modal-catalog-item:first-child a{
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
}

.modal-catalog-item a:hover,
.modal-catalog-item a:focus {
	background-color: #fbded7;
}

.modal-catalog-item a:active {
	background-color: #f6b5a5;
	box-shadow: none;
}

.user-navigation {
	display: flex;
	flex-wrap: wrap; 
	align-items: center;
	margin-left: auto; /*почему не работает?*/

	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}

.user-navigation a {
	box-sizing: border-box;
	padding: 7px 0;
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 50px;
}

.user-navigation-search a {
	position: relative;
	width: 32px;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 5px; 
}

.user-navigation-search svg {
	position: absolute;
	top: 7px;
	left: 7px;
}

.user-navigation-login a {
	position: relative;
	width: 92px;
	padding-left: 45px;
	padding-right: 14px;
	margin-left: 10px;
}

.user-navigation-login svg {
	position: absolute;
	left: 16px;
}

.user-navigation-cart a {
	position: relative;
	padding-left: 45px;
	padding-right: 34px;
	width: 117px;
	margin-left: 10px;
}

.user-navigation-cart svg {
	position: absolute;
	top: 5px;
	left: 16px;
}

.user-navigation a:hover,
.user-navigation a:focus {
	background-color: #ffffff;
	color: #323232;
}

.user-navigation a:hover path,
.user-navigation a:focus path,
.user-navigation a:hover circle,
.user-navigation a:focus circle {
	fill: #000000; 
}

/*ЗДЕСЬ ЗАКОНЧИЛА ПРОВЕРЯТЬ*/

.user-navigation label {
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.user-navigation .modal-search-form,
.user-navigation .modal-login,
.user-navigation .modal-cart {
	border-radius: 5px;
	background-color: #f8f7f4;
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-login-form a {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #323232;
}

.modal-login-form a:hover, 
.modal-login-form a:focus {
	color: #e84d37;
}

.cart-items-list {
	font-size: 13px;
	line-height: 16px;
	font-weight: 400;
	color: #323232;
}

.cart-items-list .total {
	font-size: 15px;
	line-height: 16px;
	font-weight: 700;
}

.cart-items-list img {
	border-radius: 50%;
}

.button {
	display: inline-block;
	padding: 15px 22px;
	font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: top;
  background-color: #f26843;
  background-image: linear-gradient(90deg, #e74a35, #f26843);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 50px;

  cursor: pointer;
}

.button-large {
	padding: 15px 40px;
}

.button:hover,
.button:focus {
	color: #ffffff;
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
		linear-gradient(90deg, #e74a35, #f26843);
	/*background-image: linear-gradient(90deg, #e74a35, #f26843);*/
	box-shadow: 0px 2px 2px #ac1000;
}

.button:active {
	color: #ffffff;
	background-image: linear-gradient(90deg, #f26843, #e74a35);
	box-shadow: inset 0 2px 2px #942718;

}

.text-input-field {
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
	color: #323232;
	border-radius: 5px;
	border: 1px solid rgb(169, 169, 169);
}

.text-input-field:hover {
	outline: 2px solid rgba(154, 154,154, 0.52);
	outline-offset: -2px;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;

}

.wrapper-logo {
	width: 154px; 
	height: 64px;
	margin-right: 24px;
}

.wrapper-add-information  a {
	font-size: 22px;
	line-height: 24px;
}

.wrapper-add-information a:hover,
.wrapper-add-information a:focus {
	color: #ffbc9e;
}

.wrapper-add-information a:active {
	color: #ffbc9e;
}

.wrapper-add-information p {
	margin: 0;
	padding: 0;

	font-size: 14px;
	line-height: 16px;
}

.slider {
	position: relative;
	margin-bottom: 41px;
	padding-top: 280px;
	text-align: center;
}

.slide-title {
	margin: 0;
	margin-bottom: 30px;

	font-size: 60px;
	line-height: 60.35px;
}

.slider ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.slider a {
	font-size: 32px;
	line-height: 44px;
}

.slider-controls label {
	display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover,
.slider-controls label:focus {
	background-color: rgba(255, 255, 255, 0.2);
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

#product-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide-1.png");
}

#product-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide-2.png");
}

#product-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide-3.png");  
}

.slider-controls {
	position: absolute;
	left: 0;
	bottom: 25px;
}

.slide {
	display: none;
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

.promotion {
	margin-bottom: 40px;
}

.promotion h3 {
	margin: 0;
	margin-bottom: 16px;
	font-size: 35px;
	line-height: 41px;
}

.promotion ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.promotion-list {
	display: flex;
	justify-content: space-between;
}

.promotion-item {
	box-sizing: border-box;
	border-radius: 10px;
	width: 560px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.promotion-item p {
	margin: 0;
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 22px;
}

.promotion-item a {
	margin-left: auto; /*почему не работает*/
	font-size: 18px;
	line-height: 24px;
}

.promotion-item:nth-child(1) {	
	background-image: url("../img/raspberry-background.jpg");
	background-color: #be3256;
  background-repeat: no-repeat;
}

.promotion-item:nth-child(2) {
	background-image: url("../img/chocolate-background.jpg");
	background-color: #462719;
  background-repeat: no-repeat;
}

.catalog {
	margin-bottom: 40px;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item {
	position: relative;
	width: 267px;
	/*margin-right: 26px;*/
	padding-top: 6px;
	padding-left: 13px;
	padding-right: 13px;
	padding-bottom: 20px;
	border-radius: 5px;
	
}
.catalog-item:nth-child(4n+1) {
	padding-left: 0;
}

.catalog-item:nth-child(4n) {
	padding-right: 0;
}

.catalog-item h3 {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.price b {
	font-size: 45px;
	line-height: 45px;
	font-weight: 700;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.price span {
	font-size: 30px;
	line-height: 45px;
	font-weight: 700;
	text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item a:hover,
.catalog-item a:focus {
	color: rgb(255, 188, 158);
}

.catalog-item a:hover .underline-wrapper,
.catalog-item a:focus .underline-wrapper,
.main-footer a:hover .underline-wrapper,
.main-footer a:focus .underline-wrapper,
.breadcrumbs a:hover .underline-wrapper,
.breadcrumbs a:focus .underline-wrapper {
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.catalog-item img {
	border-radius: 50%;
}

.catalog-item .button-wrapper {
	position: absolute;
	display: none;
}

.catalog-item:hover .button-wrapper,
.catalog-item:focus  .button-wrapper {
	display: block;
}

.catalog-item:hover,
.catalog-item:active {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);;
}

.features {
	margin-bottom: 40px;
	padding: 23px 20px 0;
	border-radius: 10px;
	background-image: url("../img/waffle-background.jpg");
	background-color: #ede0c4;
}

.features ul {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
}

.column-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.features .column-wrapper {
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 0;
}

.features p {
	margin: 0;
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	color: #323232;
}

.features-list li {
	position: relative;
	box-sizing: border-box;
	padding-left: 55px;
	margin-bottom: 20px; 
	width: 540px;
}

.features-list .feature-item::before {
	content: "";
	position: absolute;
	left: 0;
	top: -15px;
	width: 49px;
	height: 49px;
}

.column-wrapper:nth-child(1) .feature-item:nth-child(1)::before {
	background-image: url("../img/svg-gllacy/ice-cream.svg");
}

.column-wrapper:nth-child(1) .feature-item:nth-child(2)::before {
	background-image: url("../img/svg-gllacy/eco.svg");
}

.column-wrapper:nth-child(2) .feature-item:nth-child(1)::before {
	background-image: url("../img/svg-gllacy/cow.svg");
}

.column-wrapper:nth-child(2) .feature-item:nth-child(2)::before {
	background-image: url("../img/svg-gllacy/thermometer.svg");
}

.feature-item {
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #323232;
}

.blog-news {
	width: 560px;
	padding: 23px 250px 80px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background-image: url("../img/strawberry-background.jpg");
	background-position: 20% 40%;
	background-color: #ffffff;
}

.blog-news h2 {
	margin: 0;
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	color: #323232;
}

.blog-news a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	text-decoration: underline;
}

.subscription {
	box-sizing: border-box;
	padding: 5px;
	width: 560px;
	border-radius: 10px;
	background-image: repeating-linear-gradient(135deg, #f8f7f4 0, #f8f7f4 7px, #92cdff 7px, #92cdff 14px, #f8f7f4 14px, #f8f7f4 21px, #fe9e90 21px, #fe9e90 28px);
}

.subscription form {
	padding: 30px 20px 36px 20px;
	background-color: #f8f7f4;
	border-radius: 5px;
}

.subscription p {
	margin: 0;
	margin-bottom: 34px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #5a5a5a;
}

.subscription label {
	position: absolute;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.subscription-form .button {
	padding-top: 10px;
	padding-bottom: 10px;
}

.subscription-form input {
	margin-right: 10px;
	padding-left: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	flex-grow: 1;
}

.subscription-form .wrapper {
	display: flex;
	align-items: center;
}

.contacts {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}

.contacts-wrapper {
	position: absolute;
	right: 27px;
	top: 62px;
	box-sizing: border-box;
	padding: 33px 25px 30px;
	width: 302px;
	border-radius: 5px;
	background-color: #fefefe;
}

.contact-information p {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #323232;
}

.contact-information b {
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.contact-information a {
	/*font-size: 14px;
	line-height: 20px;*/
	color: #323232;
}

.contacts a {
	font-size: 18px;
	line-height: 24px;
}

.main-footer {
	display: flex;
	/*justify-content: space-between;*/
	width: 1147px;
	margin: 0 auto;
	padding: 0 26px;
}

.main-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-footer a:hover,
.main-footer a:focus {
	color: #ffbc9e;
}

.main-footer a:active{
	color: #ffbc9e;
}

.footer-info a {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 186px;
	margin-left: auto;
}

.social-button::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 3px solid rgba(255, 255, 255, 0.5);
	opacity: 0.8;
	border-radius: 50%;
}

.social-tw::before {
	background-image: url("../img/svg-gllacy/twitter.svg");
}

.social-ig::before {
	background-image: url("../img/svg-gllacy/instagram.svg");
}

.social-fb::before {
	background-image: url("../img/svg-gllacy/fb.svg");
}

.social-vk::before {
	background-image: url("../img/svg-gllacy/vk.svg");
}

.social-button::before:hover,
.social-button::before:focus {
	opacity: 1;
	border-color: rgba(255, 255, 255, 0.7);
}

.footer-info {
	width: 560px;
}

.footer-copyright {
	width: 267px;
	margin-right: auto; /*не работает*/

	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.modal-feedback {
	display: none;
	width: 477px;
	background-color: #f8f7f4;
	border-radius: 5px;
}

.modal-feedback p {
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	color: #323232;
}

.modal-feedback-form label {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.modal-feedback textarea {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #999999;
}

.breadcrumbs {
	margin: 0;
	padding: 0;
	list-style: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: #ffbc9e;
}

.breadcrumbs a:active {
	color: #ffbc9e;
}

.filter ul {
	list-style: none;
}

.filter h2 {
	margin: 0;

	font-size: 35px;
	line-height: 41px;
	font-weight: 700;
}

.filter {
	width: 879px;
}

.filter-form fieldset {
	border: none;
}

.filter-form label {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.filter-form legend,
label[for="price-sorting-field"] {
	font-size: 14px;
	line-height: 16px;
}

.filter-form .filler-list,
.filter-form .creamy-list,
.filter-form .sorting-filter {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 5px;

}

.filter-form .sorting-filter {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
}

.filter .button {
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	text-shadow: none;
	box-shadow: none;
	background-image: none;
	background-color: rgba(255, 255, 255, 0.19);
	border: 2px solid #ffffff;
}

.filter .button:hover,
.filter .button:focus {
	border: none;
	background-color: #ffffff;
	color: #323232;
}

.filter .button:active {
	border: none;
	background-color: #eaeaea;
	box-shadow: inset 0 2px 1px #696969;
}

.sorting-filter-option {
	background-color: #ffffff;
	color: #323232;
}

.catalog .pagination {

	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.catalog-list {
	margin-bottom: 102px;
}

.pagination a {
	padding: 5px 9px;
	border-radius: 50%;
}

.pagination .pagination-link-current {
	background-color: #ffffff;
	color: #353535;
}

.pagination a:hover,
.pagination a:focus {
	background-color: rgba(255, 255, 255, 0.2);
	color: #ffffff;
	cursor: pointer;
}